<nav class="navbar navbar-expand-lg custom-nav ml-5">
  <%= link_to "Joungwoo Baik", pages_home_path, class: 'navbar-brand custom-nav-brand ml-3' %>
  <button class="navbar-toggler custom-nav-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-3">
        <%= link_to 'About', pages_about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item ml-3">
        <%= link_to 'Contact', pages_contact_path, class: 'nav-link' %>
      </li>
      <li class="nav-item ml-3">
        <%= link_to 'Portfolio', portfols_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown ml-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <%= current_user_helper %>
  </div>
</nav>
