<h1 class="display-2 home-title text-center">Welcome to my <span id="my-name">Portfolio</span></h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email" %>
            <small id="emailHelp" class="form-text from-small">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password"%>
          </div>
          
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="submit-action mt-4 text-center">
            <%= f.submit "LOG IN", class: "btn btn-primary" %>
          </div>
      <% end %>
      <div class="text-right">
        <%= link_to "Forgot your password?", new_password_path(resource_name), id: 'forgot-password' %><br />
      </div>
    </div>
  </div>
</div>
