<%= form_for @portfol do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <p>

  <p>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </p>

  <p>
    <%= f.file_field :main_image %>
  </p>
  <p>
    <%= f.file_field :thumb_image %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <h4>Technology Used: </h4>
  <ul>
    <%= f.fields_for :technologies do |tech_form|%>
      <li>
        <%= tech_form.label :name %>
        <%= tech_form.text_field :name %>
      </li>
    <% end %>
  </ul>

  <%= f.submit submit %>

<% end %>
