<h1> <%= @portfol.title %></h1>
<h3> <%= @portfol.subtitle %> </h3>
<h6> <%= @portfol.body %> </h6>

<p>
  <%= image_tag @portfol.main_image, alt: 'Main'if @portfol.main_image %>
  <%= image_tag @portfol.thumb_image, alt: 'thumb_image' if @portfol.thumb_image %>
</p>

<p>
  <% if @portfol.created_at == @portfol.updated_at %>
    Posted <%= time_ago_in_words(@portfol.created_at) %> ago
    <% else %>
    Updated <%= time_ago_in_words(@portfol.updated_at) %> ago
  <% end %>
</p>

<p>
  <%= link_to "Portfolio List", portfols_path %>
</p>
