<!DOCTYPE html>
<html>
  <head>
    <title> <%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navigation" %>
    <%= current_user_helper %>

    <%= "Hi, #{current_user.first_name}" if current_user %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <p>
      <% if session[:source] %>
      Thanks for visiting me from <strong> <%= session[:source] %> </strong>
      <% end %>
    </p>

  </body>
</html>
