<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> <%= @title %></title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Special+Elite|Bangers|Staatliches" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= "Hi, #{current_user.first_name}" if current_user %>
    <%= notice_helper %>
    <%= alert_helper %>
    <div class="home-body">
      <%= yield %>
    </div>
    <p>
      <%= session_helper %>
    </p>

  </body>
</html>
